<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BattleBlocks</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/splash.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Raleway:200|Roboto:100" rel="stylesheet">
</head>
<body>
<header>
    <h1>BattleBlocks</h1>
</header>
<div class="alert">Be warned, your screen is below the recommended resolution!</div>
<main>
    <div id="statistics">
        <h1>STATISTICS</h1>
        <p id="first-stat"><%= gamesInitialized %>
            <%if (gamesInitialized != 1) { %>
                games
            <% } else { %>
                game
            <% } %>
            initialized
        </p>
        <p id="second-stat"><%= gamesCompleted %>
            completed</p>
        <p id="third-stat">
            <%= shipsDestroyed %>
            ships destroyed
        </p>
        <p id="fourth">
            You connected
            <%= numConnections %>
            <%if (numConnections != 1) { %>
                times
            <% } else { %>
                time
            <% } %>
        </p>
    </div>
    <div id="container">
        <div id="default-splash" class="card">
            <div class="button-container">
                <div id="main-buttons">
                    <form action="/join" method="get">
                        <button id="play" type="submit">PLAY</button>
                    </form>
                    <button id="rules" onclick="gotToRules()">RULES</button>
                </div>
                <!--Optional join friend screens that are not yet implemented-->
                <!--<div id="play-buttons">-->
                <!--<form action="/join" method="get">-->
                <!--<button id="join-random" type="submit">JOIN RANDOM</button>-->
                <!--</form>-->
                <!--<button id="join-friend" onclick="joinFriend()">JOIN FRIEND</button>-->
                <!--<button id="host-game">HOST GAME</button>-->
                <!--<button id="cancel" onclick="setButtonDiv()">CANCEL</button>-->
                <!--</div>-->
                <!--<div id="join-friend-div">-->
                <!--<h3 id="join-message">Enter your friends code</h3>-->
                <!--<form method="post" action="" novalidate>-->
                <!--<div id="input">-->
                <!--<label for="friend-code">#</label>-->
                <!--<input id="friend-code" name="friend-code" type="text" placeholder="00000" maxlength="5"-->
                <!--minlength="5">-->
                <!--</div>-->
                <!--<button class="friend-buttons" type="submit">JOIN</button>-->
                <!--</form>-->
                <!--<button class="friend-buttons" onclick="setPlayDiv()">CANCEL</button>-->
                <!--</div>-->
            </div>
            <div id="image-div">
                <img src="https://via.placeholder.com/250" alt="https://via.placeholder.com/250">
            </div>
        </div>
        <div id="rules-div" class="card">
            <div id="goal-text">
                <p>Goal: Arrange your ships and be the first to destroy all enemy ships</p>
            </div>
            <div id="controls-div">
                <div>
                    <img class="control-img" src="https://via.placeholder.com/150"
                         alt="https://via.placeholder.com/150">
                    <h3>Drag & Drop</h3>
                    <p>Drag your ships to te desired position</p>
                </div>
                <div>
                    <img class="control-img" src="https://via.placeholder.com/150"
                         alt="https://via.placeholder.com/150">
                    <h3>Rotate</h3>
                    <p>Rotate your ships into the correct position</p>
                </div>
                <div>
                    <img class="control-img" src="https://via.placeholder.com/150"
                         alt="https://via.placeholder.com/150">
                    <h3>Fire</h3>
                    <p>Fire on the enemy ships</p>
                </div>
            </div>
            <button id="return" onclick="returnToDef()">Got it!</button>
        </div>
    </div>
</main>
<script type='text/javascript' src='javascripts/ui.js'></script>
</body>
</html>