@import "style.css";
#statistics p:active {
    font-size: 1em;
    transition: all 0.5s;
}

#statistics {
    display: inline-block;
    text-align: left;
    width: 10em;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

#statistics h1 {
    text-align: center;
    border-bottom: solid 1px #ababab;
    font-size: 1em;
    margin: 0;
    padding: 0.5em;
}

#statistics p {
    font-weight: 600;
    font-size: 0.8em;
    transition: all 0.5s;
}

#statistics p:hover {
    cursor: pointer;
}

#fourth::after {
    content: ")";
}

#fourth::before {
    content: "(";
}

#goal-text/*, #join-message*/ {
    font-family: Raleway, serif;
    text-align: center;
    border-bottom: solid 0.1em #ababab;
    font-size: 1.3em;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6);
    margin: 0;
}

#join-message {
    width: 50%;
    margin: auto auto 2em auto;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.9);;
}

.button-container {
    float: right;
    width: 49.5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: solid 1px #ababab;
}

#image-div {
    float: left;
    width: 49.5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: solid 1px #ababab;
}

#controls-div {
    display: flex;
    justify-content: space-between;
}

#controls-div p {
    font-size: 0.9em;
}

.control-img {
    margin: 1em 3em 0 3em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

/*#play-buttons button,*/ #main-buttons button {
    display: block;
}

/*#play-buttons,*/ #rules-div/*, #join-friend-div*/ {
    display: none;
}

#return {
    margin-top: 3em;
}

/**animated board*/

.ship-hider {
    border: white solid 5.2em;
    width: 12.07em;
    height: 12.07em;
    position: absolute;
    z-index: 1000;
}

.grid-holder {
    width: 12em;
    height: 12em;
    background: rgba(30, 144, 255, 0.1);
    border: 0.01em solid dodgerblue;
}

.ship {
    position: relative;
    height: 1.202em;
    width: fit-content;
    line-height: 0;
    border: none;
}

#ship1 {
    top: 1.202em;
    left: -3.8em;
    animation-name: boatMoveLeftShort;
    animation-delay: 3s;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#ship2 {
    left: -5em;
    top: 7.2em;
    animation-name: boatMoveLeftLong;
    animation-delay: 5s;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


#ship3 {
    left: 7.2em;
    top: -6.2em;
    width: 1.202em;
    height: fit-content;
    animation-name: boatMoveUpShort;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.square {
    display: inline-block;
    border: 0.01em solid rgb(42, 42, 42);
    width: 1.2em;
    height: 1.2em;
    background: rgba(42, 42, 42, 0.6);
}

#ship3 .square {
    display: block;
}

#hit1 {
    animation-name: fire1;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#hit2 {
    animation-name: fire2;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes fire1 {
    38%{
        background: rgba(42, 42, 42, 0.6);
        border: 0.01em solid rgb(42, 42, 42);
    }
    40% {
        background: rgba(255, 0, 0, 0.3);
        border: 0.01em solid red;
    }
    to {
        background: rgba(255, 0, 0, 0.3);
        border: 0.01em solid red;
    }
}

@keyframes fire2 {
    58%{
        background: rgba(42, 42, 42, 0.6);
        border: 0.01em solid rgb(42, 42, 42);
    }
    60% {
        background: rgba(255, 0, 0, 0.3);
        border: 0.01em solid red;
    }
    to {
        background: rgba(255, 0, 0, 0.3);
        border: 0.01em solid red;
    }
}
@keyframes boatMoveLeftShort {
    from {
        transform: translateX(0);
    }
    10% {
        transform: translateX(0);
    }
    90% {
        transform: translateX(15.9em);
    }
    to {
        transform: translateX(15.9em);
    }
}


@keyframes boatMoveLeftLong {
    from {
        transform: translateX(0);
    }
    10% {
        transform: translateX(0);
    }
    90% {
        transform: translateX(17.1em);
    }
    to {
        transform: translateX(17.1em);

    }
}

@keyframes boatMoveUpShort {
    from {
        transform: translateY(0);
    }
    10% {
        transform: translateY(0);
    }
    90% {
        transform: translateY(15.9em);
    }

    to {
        transform: translateY(15.9em);
    }
}

/** fixes for firefox animations **/
@-moz-document url-prefix() {
    .ship-hider {
        border: white solid 5.3em;
    }
    #ship1 {
        left: -8.05em;
    }

    #ship2 {
        left: -8.7em;
    }

    #ship3 {
        top: -6.55em;
    }

    @keyframes boatMoveLeftShort {
        from {
            transform: translateX(0);
        }
        10% {
            transform: translateX(0);
        }
        90% {
            transform: translateX(16.2em);
        }
        to {
            transform: translateX(16.2em);
        }
    }


    @keyframes boatMoveLeftLong {
        from {
            transform: translateX(0);
        }
        10% {
            transform: translateX(0);
        }
        90% {
            transform: translateX(17.4em);
        }
        to {
            transform: translateX(17.4em);

        }
    }

    @keyframes boatMoveUpShort {
        from {
            transform: translateY(0);
        }
        10% {
            transform: translateY(0);
        }
        90% {
            transform: translateY(16.2em);
        }

        to {
            transform: translateY(16.2em);
        }
    }

}




/*Friends join system*/
/*#return {*/
/*margin-top: 3em;*/
/*}*/

/*.friend-buttons {*/
/*width: 9em;*/
/*height: 3em;*/
/*}*/

/*#join-friend-div {*/
/*width: 100%;*/
/*}*/

/*#input {*/
/*margin-bottom: 1em;*/
/*}*/

/*input {*/
/*font-size: 0.95em;*/
/*padding: 10px 10px 10px 5px;*/
/*display: inline-block;*/
/*border: none;*/
/*border-bottom: 1px solid #757575;*/
/*width: 7em;*/
/*}*/

/*input:focus {*/
/*outline: none;*/
/*}*/