body {
    margin: 0;
    font-family: Roboto, sans-serif;
    background: #F5F5F5;
    width: 100%;
    box-sizing: border-box;
}

#statistics {
    display: inline-block;
    text-align: left;
    width: 8em;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

#statistics h1 {
    text-align: center;
    border-bottom: solid 1px #ababab;
    font-size: 1em;
    margin: 0;
    padding: 0.5em;
}

#statistics p {
    font-weight: 600;
    font-size: 0.8em;
}

#container {
    display: inline-flex;
    flex-direction: column;
}

main {
    position: relative;
    margin-top: 5%;
    text-align: center;
    justify-content: center;
}

.card {
    background: #fff;
    border-radius: 2px;
    margin: 1rem;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    width: 50em;
    height: 30em;
}

#goal-text, header, #join-message {
    text-align: center;
    border-bottom: solid 0.1em #ababab;
    font-size: 1.3em;
    font-weight: 600;
    color: rgba(0,0,0,0.6);
    margin: 0;
}

#join-message {
    width: 50%;
    margin: auto auto 2em auto;
    font-size: 1em;
    color: rgba(0,0,0, 0.9);;
}

button {
    border-radius: 3px;
    color: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background: #3f3f3f;
    width: 10em;
    transition: background 0.5s;
    border: none;
    height: 4em;
    margin: 0.5em;
}

button:hover {
    cursor: pointer;
    background: rgba(42, 42, 42, 0.8);
    transition: background 0.5s;
}

.button-container {
    float: right;
    width: 49.5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#image-div {
    float: left;
    width: 49.5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#controls-div{
    display: flex;
    justify-content: space-between;
}

.control-img{
    margin: 1em 3em 0 3em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

#play-buttons button, #main-buttons button {
    display: block;
}

#return {
    margin-top: 3em;
}

.friend-buttons {
    width: 9em;
    height: 3em;
}

#join-friend-div {
    width: 100%;
}

#input {
    margin-bottom: 1em;
}

input {
    font-size: 0.95em;
    padding:10px 10px 10px 5px;
    display: inline-block;
    border:none;
    border-bottom:1px solid #757575;
    width: 7em;
}

input:focus {
    outline: none;
}

#play-buttons, #rules-div, #join-friend-div {
    display: none;
}

/** game **/
.game-board {
    height: 100%;
    width: 49.5%;
}

.board-title {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
.board-title p {
    text-align: center;
    border-bottom: solid 1px #ababab;
    font-size: 1.3em;
    font-weight: 600;
    color: rgba(0,0,0,0.6);
    margin: 0;
    width: 75%;
}

.board-bottom p{
    font-size: 1.1em;
}

.board-bottom {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
#left-board {
    float: left;
    border-right: solid 1px #ababab;
}

#right-board {
    float: right;
    border-left: solid 1px #ababab;
}

#game-card {
    width:70em;
    height: 35em;
}

.list-row-empty {
    height: 0.4em;
}

td {
    background: #3f3f3f;
    width: 0.5em;
    height: 0.5em;
}

#ships-list-left {
    float: left;
    margin: 3em 0 0 3em;
}

#ships-list-right {
    float: right;
    margin: 3em 3em 0 0;
}

/** gameboard **/
#game-board-left, #game-board-right {
    width: fit-content;
    display: inline-block;
    margin-top: 3em;
    border: 0.01em solid #ababab;
}

.board-row-active, .board-row-inactive {
    line-height: 0;
}

.board-row-inactive {
    opacity: 0.2;
}

.game-board-square-active, .game-board-square-inactive {
    width: 2em;
    height: 2em;
    display: inline-block;
    border: 0.01em solid #ababab;
}

.game-board-square-active:hover {
    background: #3f3f3f;
    border: 0.01em solid #3f3f3f;
}